ul
{
	float: left;
	list-style: none;
}

li a
{
	display: blocks;
	width: 100px;
	height: 100px;
	font-size: lem;
	text-align: center;
	text-decoration: none;
	color: white;
	background-color:  #FF6666;
	padding: 5px 10px ;
	margin: 2px 20px 2px 20px;
	border-radius: 4px;
	box-shadow: 3px 3px 3px white;
}
li a:hover
{
	background:   #FFCC99;
	box-shadow: 5px 0px 0px;
}
#naglowek
{
	background: white;
	text-align: center;
	min-height: 100px;
}
#menu
{
	float: left;
	width: 20%;
	height: 200px;
	text-align: center;
	font-size: 15px;
	background: #FFCCCC;
	border-radius: 10px;
	box-shadow: 2px 2px 2px;
	min-height: 50px;
	
}
img
{
    display: block;
    margin: auto;
    border-radius: 50%;
}
#informacje
{
	float: right;
	width: 75%;
	background: white;
	font-size: 20px;
	color: #FF6666;
	padding: 20px;
	margin: 5px 5px 5px 5px;
	min-height: 100%;
	border-radius: 4px;
	
}
#stopka
{
	clear: both;
	background:  #FF6666 ;
	text-align: center;
	min-height: 70px;
	border-radius: 10px;
}

	
	